.product-image {
  width: 822px;
  height: 600px;
  /* background-color: wheat; */
  object-fit: cover;
  /* transform: rotate(-30deg); */
}

.products-image {
  width: 433px;
  height: 542px;
  margin-top: 15px;
  object-fit: cover;
  padding-right: 32px;
}

.first-para {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #828282;
}

.greator {
  height: 18px;
  width: 10px;
  margin: 0 18px !important;
}

.prod-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #353535;
}

.prod-id {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #4f4f4f;
}

.prod-details {
  display: flex;
}

.prod-price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.prod-discount {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f4f4f;
  margin-left: 30px;
}

.discount-tag {
  width: 28px;
  height: 28px;
  margin-left: 8px;
}

.form-select1 {
  width: 100%;
  height: 55px;
  background: white;
  display: block;
  border: 1px solid #828282 !important;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 6px;
}

.form-select1:focus {
  outline: none !important;
}

.form-select2 {
  width: 100%;
  height: 55px;
  background: white;
  display: block;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0px 12px;
}

.form-select2:focus {
  outline: none !important;
}

.form-select3 {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  background: white;
  display: block;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0px 12px;
}

.form-select3:focus {
  outline: none !important;
}

.buttons {
  display: flex;
  margin-top: 50px;
}

.cart-button {
  width: 100% !important;
  height: 80px;
  background: #5d3a84 !important;
  border-radius: 6px;
  color: white;
  border: none;
}
.cart-button:focus {
  outline: none !important;
}
.cart-img {
  margin-left: 5px;
  height: 20px;
  width: 24px;
}

.heart-button {
  width: 80px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #4f4f4f !important;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 44px;
}

.heart-button:focus {
  outline: none !important;
}

.kFtqvK {
  margin-right: 5px !important;
}

.bZNLvn {
  margin-right: 5px !important;
}

.rating-etc {
  display: flex;
  margin-top: 25px;
}

.rate-no {
  margin-left: 15px;
  margin-right: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #4f4f4f;
}

.no-of-rat {
  margin-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #4f4f4f;
}

.write-review {
  margin-left: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #4f4f4f;
}

/* part 3 css */
.part-3 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.text-3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #353535;
}

.heart-image {
  height: 28px;
  width: 28px;
}

@media only screen and (max-width: 1300px) {
  /*Tablets [601px -> 1200px]*/
  .product-image {
    width: 100%;
    height: 25%;
    object-fit: cover;
  }
  .products-image {
    width: 50%;
    height: 50%;
    padding-right: 0;
    object-fit: cover;
  }
}

@media (max-width: 1100px) and (min-width: 991px) {
  .card2 {
    width: 100%;
  }
  .card2-img {
    width: 18%;
  }
  .form-select1 {
    width: 80%;
    margin-right: 0px;
  }
  .form-select2 {
    width: 80%;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .card2 {
    width: 90%;
  }
  .card2-img {
    width: 70%;
  }
}

/* mobile view */

.show-in {
  display: none;
}
@media only screen and (max-width: 360px) {
  .top-sec {
    margin-left: 50px !important;
  }
}

@media only screen and (max-width: 450px) {
  .show-out {
    display: none;
  }
  .show-in {
    display: block;
  }
  .start {
    padding: 15px !important;
  }
  .top-sec {
    margin-left: 55px;
    margin-top: -44px;
  }
  .first-para {
    line-height: 5px;
  }
  .for-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card2-mob {
    width: 300px;
    height: 440px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 200px;
  }
  .card2-mob-img {
    position: absolute;
    width: 267px;
    height: 315px;
    margin-top: 28px;
    object-fit: cover;
  }
  .card2-mob-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    /* line-height: 26px; */
    color: #353535;
    margin-top: 353px;
    margin-left: 0px;
  }
  .mob-price {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
    color: #333333;
    margin-top: 6px;
  }
  .homecard-mob-button {
    width: 44px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 10%;
    background-color: #4847bc !important;
    float: right;
    margin-top: -21%;
  }
  .mob-details {
    margin-top: -10px;
    text-decoration: underline;
  }
  .mod-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #353535;
    padding-right: 0px !important;
  }
  .modal-header {
    padding: 5px 0px !important;
    border-bottom: none !important;
  }
  .mod-buttons {
    display: flex;
    margin-top: 20px !important;
  }
  .closee-but {
    width: 28px;
    height: 28px;
    float: right;
  }
  .prod-id {
    font-weight: bold;
  }
  .prod-price {
    font-size: 30px;
  }
  .cart-button {
    width: 100%;
    height: 60px;
  }
  .heart-button {
    height: 60px;
    margin-left: 20px;
  }
  .heart-image {
    height: 28px;
    width: 28px;
    float: right;
  }
  .heart-imag {
    height: 28px;
    width: 28px;
  }
}
